<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp Page</title>
</head>
<body style="display: flex; flex-direction: column; align-items: center;">
    <style>
        h1,h2{
            text-align: center;
            font-style:oblique;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
        }

    </style>
    <h1>Welcome to Sign Up Page!!</h1>
    <h2>{{date}}, {{dow}}, {{time}}</h2>
    <div style=" background-color: aqua; width: 400px; height: 300px; display: flex; flex-direction: column; align-items: center; ">
        <h3> SIGN UP </h3>
        <form style="align-items: center;">
            <input type="email" name="email" id="email" required>
            <input type="password" name="password" id="password" required minlength="8">
            <button>Submit</button>
        </form>


    </div>
</body>
</html>